html, body, #home{
  
    height: 100%;
}
div.someclass {
    background-size: cover;
  }
body{

           
            background-color: #240046;                  
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size:contain;
            background-position:center;
            background-size: 100%;

}
/* Barra de navegação*/
nav.navbar-transparente{
    padding: 15px, opx;
    background: rgba(0, 0, 0, 0.6);
}
/* Cor da fonte de Barra de navegação*/
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
/* Cor da fonte de Barra de navegação*/
.navbar-dark .navbar-nav .nav-link:hover {
    color: #7B2CBF;
}
/* Cor do botao de Barra de navegação*/
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}
/* Divisor da Barra de navegação*/
.divisor{
    margin: 12px 15px;
    width: 1px;
    background:white;
}
.capa{
    text-align: center;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
p{
    font-family: Pixel;
    font-size: 16px;
    line-height: 52px;   
    color: white;
}
/*
#quemsomos{
    background:white;
}*/

.peruano{
   
    margin:10px;
    margin-top: 100px;
    background: #7B2CBF;
    border: 2px solid blue;

}

.Borda-img{
    margin:10px;
    border: 2px solid rgb(26, 0, 48);
}

.Bloco{
    background: #370066;
}
