html, body{
  height: 100%;
  overflow-x: hidden;
} 
#login{
  min-height: 100%;
}
/* background */
body {
  background-color: #240046;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding: 20px;
  margin: auto;
  background-color: #63009c;
  border-radius: 15px;
}

.form-signin .checkbox {
  padding: 10px;
  font-weight: 400;
  float: left;
  
}
.form-signin .form-control {
  
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  

}
.form-signin .form-control:focus {
  z-index: 2;
  
}
.form-signin input {
  border-radius: 5px;
  border-color: #63009c;
  
}.botao {
  margin-top: 2px;
  border-radius: 5px;
  border-color: #63009c;
  
}