<nav class="navbar navbar-expand-md navbar-dark  navbar-transparente ">
  <div class="container">
      <!-- Logo-->
      <a href="/" class="navbar-brand">
          <img src="Imagens/SVG LOGO.svg" width="50">
      </a>
      <!-- Buttom ( Menu Hamburguer)-->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
          <i class="fas fa-bars text-white"></i>
      </button>
      <!-- Menu de Navegação -->
      <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <li class="nav-item">
                  <a class="nav-link " href="/">
                     Home
                  </a>
              </li>
              <a class="nav-link " href="/#quemsomos">Quem somos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="republicas">Repúblicas</a>
              </li>
              <li class="nav-item divisor ">

              </li>
              <% if(!usuario){ %>
                <li class="nav-item">
                    <a class="nav-link" href="inscreva-se">Inscreva-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Entrar</a>
                </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="db"><%= usuario.nome_usuario.charAt(0).toUpperCase()+ usuario.nome_usuario.slice(1) %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Sair</a>
                    </li>
              <% } %>
          </ul>
      </div>
  </div>
</nav>