html, body, #home{
    height: 100%;
    overflow-x: hidden;
    }
    body{
    background-color: #240046;
    background-repeat: no-repeat;
    }
    /* Barra de navegacao */
    nav.navbar-transparente{
    padding: 15px, 0px;
    background: rgba(0, 0, 0, 0.6);
    }
    .navbar-dark .navbar-nav .nav-link {
    color: white;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        
    color: #7B2CBF;
    }
    .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
    }
    .divisor{
    margin: 10px 10px;
    width: 1px;
    background:white;
    }
    /* Home */
    .capa{
    text-align: center;
    }
    /* Fontes adicionais*/
    @font-face {
    font-family: Mansalva;
    src: url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
    }
    #p1{
    font-family: 'Mansalva', cursive;
    line-height: 52px; 
    color: white;
    }
    #quemsomos{
    background: #7B2CBF;
    }
    
    #contquemsomos{
    padding-top: 1%; 
    padding-bottom: 3%; 
    }
    
    #rodape{
        background: #240046;
        font-size:12px;
        margin-top: 50px;
        bottom:0;
       
        }
    
    .titulo{
    font-family: 'Mansalva', cursive;
    text-overflow: ellipsis;
    margin:10px;
    margin-top: 80px;
    
    }
    
    .peruano{
    
    margin:10px;
    margin-top: 80px;
 
    }
    
    .card{
        margin-top: 10px;
    }

    .card:hover{
        transform: scale(1.05);
        transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .card:hover::before{
        opacity: 5;
    }

    /*Barra de Pesquisa!*/
    #divBusca{
        background-color:blueviolet;
        border:solid 5px;
        border-color: #FF8500;
        border-radius:15px;
        width:300px;
      }
      
      #txtBusca{
        float:center;
        background-color:transparent;
        padding-left:5px;
        font-style:unset;
        font-size:18px;
        border:none;
        height:32px;
        width:260px;
      }