<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    
    <title>FYREP- Find Your Rep Home</title>
    <link rel="stylesheet" type="text/css" href="CSS/form.css">
    </head>
<body>
  <%- include ("../partials/nav.ejs") %>


<h2  style="color: white;" class="text-center">Olá! <%= usuario.nome_usuario.charAt(0).toUpperCase()+ usuario.nome_usuario.slice(1) %></h2>

 <!-- Inicio da seção Form-->
 <section >
  <!-- inicio Form-->
  <div class="container" >
      <div class="row ">
          <div class="col-md-12 ">
              <div class=" text-light ">
                  
                  <h5 style="color: #FF8500;">Preencha os campos abaixo</h5>
                
              </div>
          </div>
      </div>

      <br><br>
      <form id="form" method="POST" action="/db">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="numero">Numero</label>
            <input type="number" name="numero" class="form-control" id="numero">
          </div>
        </div>
        
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="garagem" id="garagem">
            <label class="form-check-label" for="garagem">
              Garagem
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
     
       </div>
         
</section>

  <%- include ("../partials/footer.ejs") %>
</body>
</html>
