<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    
    <title>FYREP- Find Your Rep Home</title>
    <link rel="stylesheet" type="text/css" href="CSS/estilo.css">
    </head>
<body>
  <%- include ("../partials/nav.ejs") %>


<h2  style="color: white;" class="text-center">Olá! <%= usuario.nome_usuario.charAt(0).toUpperCase()+ usuario.nome_usuario.slice(1) %></h2>
  



</body>
</html>
