<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    
    <title>FYREP- Find Your Rep Home</title>
    <link rel="stylesheet" type="text/css" href="CSS/estilo.css">
    </head>
<body>
  <%- include ("../partials/nav.ejs") %>

<div class="container">
<h2 style="color: white;">Olá! <%= usuario.nome_usuario %></h2>
  <a href="/logout">Logout</a>

</div>

</body>
</html>
